body{
    height: 100%;
    
}
.bface{
	background: url('../images/bg8.jpg');
    background-size: 110%;
    background-position-y: -5rem;
	position: fixed;
	
}

#bg{
	height:15.625rem;
  
}
header h2 {
    font-family: 'Dancing Script';
    font-size: 2rem;
	margin: 2rem 0rem 0rem 10rem;
    text-align: left;
    color: #fff;
}


header h3 {
    font-family: 'Dancing Script';
    font-size: 2rem;
	margin: 0.6rem 0rem 0rem 5rem;
    text-align: left;
    color: #fff;
}
header h4 {
    font-family: 'Dancing Script';
    font-size: 2rem;
	margin: 0.6rem 0rem 0rem 1rem;
    text-align: left;
    color: #fff;
}

header h5{
    font-family: 'Dancing Script';
    font-size: 2rem;
	margin: 1rem 0rem 0rem 20rem;
    text-align: left;
    color: #fff;
}
.form-img{
	position: relative;
	top: -60px;
	left: 80px;
	width: 250px;
	height: 350px;
}
.form-gif{
	position: relative;
	top: -210px;
	left: 195px;
	width: 212px;
	height: 200px;
}

#wrapper{
    height: 100px;
	width: 300px;
    position: relative;
	left: 400px;
	top:-225px;
	align-items: center;
}
#formlogin{
    max-width: 400px;
    background: rgba(0, 0, 0 , 0);
    flex-grow: 1;
    padding: 0px 30px 30px 30px;
	box-shadow: 0px 0px 71px 5px rgba(255, 255, 255, 0);
}

.form-group{
    border-bottom: 1px solid #fff;/* nét liền độ rộng 1px*/
    margin-top: 15px;
    margin-bottom: 20px;
	display: flex;
	
}
.form-group i{
    color: #fff;
    font-size: 20px;
    padding-top: 0px;
	padding-left: 10px;
    padding-right: 10px;
	padding-bottom: px;
}
.form-input{
    background: transparent;
	border: 0;
	font-size: 19px;
    color: #f5f5f5;
}
/*hiển thị chỉ dẫn ở trong input*/
.form-input::placeholder{
    color: #f5f5f5;
	font-family: serif;
	font-size: 20px;
	font-weight: bold;
}


/*chỉnh sửa đăng nhập*/
.form-submit{
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #fff;
	font-weight: bold;
    width: 100%;/*hiển thị khung 100%*/
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 20px;
}
/*đưa chuột vào sẽ đổi màu*/
.form-submit:hover{
    border: 1px solid #ff0066;
}
@media screen and (max-width: 600px){
	.bface{
		background: url('../images/brphone.jpg');
    	background-size: 100%;
    	background-position-x: 0rem;
		position: fixed;
	
	}
	#bg{
		height:7rem;
  
}
	header h2 {
    	font-family: 'Dancing Script';
    	font-size: 1.7rem;
		margin: 0.2rem 0rem 0rem 1.7rem;
    	text-align: left;
    	color: #4f4f4f;
	}


	header h3 {
    	font-family: 'Dancing Script';
    	font-size: 1.7rem;
		margin: 0.07rem 0rem 0rem 1rem;
    	text-align: left;
    	color: #4f4f4f;
	}
	header h4 {
		font-family: 'Dancing Script';
		font-size: 1.7rem;
		margin: 0.07rem 0rem 0rem 0.3rem;
		text-align: left;
		color: #4f4f4f;
	}

	header h5{
		font-family: 'Dancing Script';
		font-size: 1.3rem;
		margin: 0.001rem 0rem 0rem 12rem;
		text-align: left;
		color: #4f4f4f;
	}
	.form-img{
		position: relative;
		top: -175px;
		left: 270px;
		width: 50px;
		height: 50px;
	}
	.form-gif{
		position: relative;
		top: 30px;
		left: 80px;
		width: 150px;
		height: 170px;
	}

	#wrapper{
		height: 100px;
		width: 280px;
		position: relative;
		left: 80px;
		top: 30px;
		align-items: center;
	}
	#formlogin{
		max-width: 400px;
		background: rgba(0, 0, 0 , 0);
		flex-grow: 1;
		padding: 0px 30px 30px 30px;
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	}

	.form-group{
		border-bottom: 1px solid #fff;/* nét liền độ rộng 1px*/
		margin-top: 15px;
		margin-bottom: 20px;
		display: flex;

	}
	.form-group i{
		color: #fff;
		font-size: 20px;
		padding-top: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.form-input{
		background: transparent;
		border: 0;
		font-size: 19px;
		color: #fff;
	}
	/*hiển thị chỉ dẫn ở trong input*/
	.form-input::placeholder{
		color: #fff;
		font-family: serif;
		font-size: 20px;
		font-weight: bold;
	}


	/*chỉnh sửa đăng nhập*/
	.form-submit{
		background: transparent;
		border: 1px solid #f5f5f5;
		color: #fff;
		font-weight: bold;
		width: 100%;/*hiển thị khung 100%*/
		text-transform: uppercase;
		padding: 6px 10px;
		transition: 0.25s ease-in-out;
		margin-top: 20px;
	}
	/*đưa chuột vào sẽ đổi màu*/
	.form-submit:hover{
		border: 1px solid #ff0066;
	}
}

